.ui-layout-north.toolbar
  %ul.toolbar
    %li#new-project{:title => t('Create')}
      %span.new-project
      = t('Create')
    %li#edit-project{:title => t('Edit')}
      %span.edit-project
      = t('Edit')
    %li#del-project{:title => t('Delete')}
      %span.del-project
      = t('Delete')
    %li.split
    %li#view-task.hover{:title => t('Task view')}
      %span.view-task
      = t('Task view')
    %li#view-gantt{:title => t('Gantt view')}
      %span.view-gantt
      = t('Gantt view')
    %li.split
    %li#chg-pass{:title => t('Change password')}
      %span.chg-pass
      = t('Change password')
    %li.split
    %li#logout.right{:title => t('Logout')}
      %span.logout
      = t('Logout')
.ui-layout-west.tree
  %table#west-grid.content
#mainContent.ui-layout-center.ui-jqgrid
  #task_view
    %table#task.scroll{:cellpadding => "0", :cellspacing => "0"}
    #tasknav.scroll{:style => "text-align:center"}
  #gantt_view{:style => "display:none"}
    #gbox_gantt.ui-jqgrid.ui-widget.ui-widget-content
      #load_gantt.loading.ui-state-default.ui-state-active{:style => "display:none"}= t('Now loading')
      #gantt_title.ui-jqgrid-titlebar.ui-widget-header.ui-corner-tl.ui-corner-tr.ui-helper-clearfix
        %span.ui-jqgrid-title
      #gantt
      #ganttnav.scroll.ui-state-default.ui-jqgrid-pager.corner-bottom{:style => "text-align: center;"}
        #pg_ganttnav.ui-pager-control{:role => "group", :style => "width: 100%;"}
          %table.ui-pg-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "row", :style => "width: 100%; table-layout: fixed;"}
            %tbody
              %tr
                %td#ganttnav_left{:align => "left"}
                  %table.ui-pg-table.navtable{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "float: left; table-layout: auto;"}
                    %tbody
                      %tr
                        %td#prev-week.ui-pg-button.ui-corner-all
                          %span.ui-icon.ui-icon-seek-first
                        %td#prev.ui-pg-button.ui-corner-all
                          %span.ui-icon.ui-icon-seek-prev
                        %td#next.ui-pg-button.ui-corner-all
                          %span.ui-icon.ui-icon-seek-next
                        %td#next-week.ui-pg-button.ui-corner-all
                          %span.ui-icon.ui-icon-seek-end
