.ui-layout-north.toolbar
  %ul.toolbar
    %li#new-project{:title => t('Create')}
      %span.new-project
      = t('Create')
    %li#edit-project{:title => t('Edit')}
      %span.edit-project
      = t('Edit')
    %li#del-project{:title => t('Delete')}
      %span.del-project
      = t('Delete')
    %li.split
    %li#view-task.hover{:title => t('Task view')}
      %span.view-task
      = t('Task view')
    %li#view-gantt{:title => t('Gantt view')}
      %span.view-gantt
      = t('Gantt view')
    %li.split
    %li#chg-pass{:title => t('Change password')}
      %span.chg-pass
      = t('Change password')
    %li.split
    %li#logout.right{:title => t('Logout')}
      %span.logout
      = t('Logout')
.ui-layout-west.tree
  %table#west-grid.content
#mainContent.ui-layout-center.ui-jqgrid
  #task_view
    %table#task.scroll{:cellpadding => "0", :cellspacing => "0"}
    #tasknav.scroll{:style => "text-align:center"}
  #gantt_view{:style => "display:none"}
