%h2 Top page
%h3 JSON API
%ul
  %li= link_to priorities_path, priorities_path
  %li= link_to statuses_path, statuses_path
  %li= link_to plans_path, plans_path
  %li= link_to teams_path, teams_path
  %li= link_to users_path, users_path
  %li= link_to projects_path, projects_path
  %li= link_to tasks_path, tasks_path
