%h2= t('Signup')
- form_for @team do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  - f.fields_for :users do |ff|
    %p
      = ff.label :login
      %br
      = ff.text_field :login
    %p
      = ff.label :password
      %br
      = ff.text_field :password
    %p
      = ff.label :password_confirmation
      %br
      = ff.text_field :password_confirmation
  = f.submit t('Signup')
