!!! XML
!!!
%html{:'xml:lang' => 'ja', :lang => 'ja'}
  %head
    %title= "#{controller.class.to_s}: #{controller.action_name}"
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    = javascript_include_tag '/javascripts/libs/jquery-1.3.2.min.js'
    = javascript_include_tag '/javascripts/libs/jquery-ui-1.7.2.custom.min.js'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui', :media => 'screen'
    = javascript_include_tag '/javascripts/libs/jquery.layout.min.js'
    = javascript_include_tag '/javascripts/libs/jquery.tools.min.js'
    = javascript_include_tag '/javascripts/libs/ui.datepicker-ja.js'
    = javascript_include_tag '/javascripts/libs/jquery.gantt.js'
    = javascript_include_tag '/javascripts/gantt.js'
    = stylesheet_link_tag 'ui.jqgrid.css', :media => 'screen'
    = javascript_include_tag '/javascripts/libs/grid.locale-jp.js'
    = javascript_include_tag '/javascripts/libs/jquery.jqGrid.min.js'
    = javascript_include_tag '/javascripts/libs/jquery.tablednd.js'
    = javascript_include_tag '/javascripts/libs/jquery.contextmenu.js'
    = stylesheet_link_tag 'style.css', :media => 'screen'
  %body= yield
