!!! XML
!!!
%html{:'xml:lang' => 'ja', :lang => 'ja'}
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %meta{:name => 'description', :content => yield(:description) || t('application.description')}
    %meta{:name => 'keywords', :content => yield(:keywords) || t('application.keywords')}
    %title= yield(:title) || t('application.title')
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui', :media => 'screen'
    = stylesheet_link_tag 'jquery.ganttView', :media => 'screen'
    = stylesheet_link_tag 'chart', :media => 'screen'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'
    = javascript_include_tag 'jquery.tablesorter'
    = javascript_include_tag 'jquery.jsPlumb-1.2-all-min'
    = javascript_include_tag 'date'
    = javascript_include_tag 'libs/jquery.ganttView'
    = javascript_include_tag messages_path(:lang => I18n.locale)
    = javascript_include_tag 'inflection'
    = javascript_include_tag 'application'
    = javascript_include_tag 'chart'
    - header_script = yield(:header_script)
    - if header_script
      = header_script
  %body= yield
